.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.history-page {
    font-family: 'Cedarville Cursive', cursive;
    color: var(--text);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.history-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 600px) {
    .history-heading {
        font-size: 2rem;
    }

    .navbar {
        margin-left: -40px;
    }
}